
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
    font-family: 'Quicksand', sans-serif;

}
.wrapper{
    background-image: url(img/Group\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    padding: 5em;
    display: flex;
   
    min-height: 100vh;
}

.welcome-container {
    display: grid;
    grid-template-rows: 0em 4em;
    gap: 10em;
    align-items: center;
    justify-content: left;

}
.logotype {
    display: flex;
    max-width: 10.5em;
    width: 100%;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 22px;
color: #FFFFFF;
}
.logo {
}
.logotype-text {
}
.welcome-text{
    
 

}
.welcome-title {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 1em;
}
.welcome-description{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    color: #FFFFFF;
    max-width: 10em;
}

input {
    background: #FFFFFF;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    border: none;
    max-width: 24em;
    width: 100%;
    padding: 1em 0 1em 55px;
    margin-bottom: 0.7em;
}

input:last-of-type {
    margin-bottom: 0;
}


.login-container {
    width: 100%;
max-width: 25em;
margin-left: auto;
margin-right: auto;
}

#main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 23em;
    width: 100%;

}
.login-title{
    font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 29px;
line-height: 30px;
text-align: center;
text-transform: uppercase;
color: #00344D;
}

.login-description{
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 30px;
text-align: center;
text-transform: uppercase;
color: #00344D;
margin-bottom: 1.8em;
}

#submit, #create-acct-btn{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
background: linear-gradient(246.06deg, #3AB6DA 0%, #0F9CD5 96.92%);
border-radius: 25px;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
max-width: 23em;
width: 100%;
padding: 0.9em;
border: none;
}



button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

#create-acct {
    max-width: 23em;
    width: 100%;
    display: none;
    margin: 0 auto;
}

#sign-up, #return-btn {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #00344D;
    background-color: transparent;
    border: none;
    margin-right: auto;
    margin-left: auto;
}
#read_data_from_firebase{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
color: coral;
    background-color: transparent;
    border: none;
}


.display_read_data{
   
}
